{% include 'header.html' %}


 <!-- Page Header Start -->
 <div class="container-fluid py-5 mb-5" style="background: url(/static/img/blog1.png) center center no-repeat;background-size: cover;height: 80vh;">
  <div class="container py-5">
        <h1 class="animated slideInDown mb-3 text-color">Blogs</h2>
      {% comment %} <h2 class="  mb-3 text animated slideInDown">Blogs</h2> {% endcomment %}
      <h1 class="  mb-5  animated slideInDown">Tech experts' latest:<br> Innovations in digital<br> enterprise</h1>
      <a class="newbtn " href="">Get Started </a>

  </div>
</div>
<!-- Page Header End -->

     <!-- Page Header Start -->
     {% comment %} <div class="container-fluid page-header py-5 mb-5">
        <div class="container py-5">
            <h2 class="  mb-3 text animated slideInDown">Blog</h2>
            <h1 class="  mb-5  animated slideInDown">Tech experts' latest:<br> Innovations in digital<br> enterprise</h1>
            <a class="newbtn " href="">Get Started </a>

        </div>
    </div> {% endcomment %}
    <!-- Page Header End -->


<!-- section start -->

<div class="container c1 " style="margin-top: 100px;">
    <div class="card1">
      <div class="card__header">
        <img src="/static/img/blog/img01.webp" alt="card__image" class="card__image img1" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-blue">Blog</span>

        <p class="text-dark fs-4" >5 ways how Gen AI is set to revolutionize the financial industry</p>
        <div class="card__footer">
            <a class="newbtn " href="">Read More</a>
          </div>
        
        
      </div>
     
    </div>
    <div class="card1">
      <div class="card__header">
        <img src="/static/img/blog/img02.webp" alt="card__image" class="card__image img1" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-blue">Blog</span>

        <p class="text-dark fs-4" >What’s Hot in Banking for 2024?</p>
        <div class="card__footer">
            <a class="newbtn " href="">Read More</a>
          </div>
        
        
      </div>
      
    </div>
    <div class="card1">
      <div class="card__header">
        <img src="/static/img/blog/img03.webp" alt="card__image" class="card__image img1" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-blue">Blog</span>

        <p class="text-dark fs-4" >
            Taking an Evolutionary Leap to create a Revolutionary Impact in the Banking Industry</p>
        <div class="card__footer">
            <a class="newbtn " href="">Read More</a>
          </div>
        
        
      </div>
     
    </div>
  </div>
<!-- section end -->


<!-- section start -->
  <div class="container c1 mt-5">
    <div class="card1">
      <div class="card__header">
        <img src="/static/img/blog/img04.webp" alt="card__image" class="card__image img1" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-blue">Blog</span>

        <p class="text-dark fs-4" >
            Top 5 advanced analytics strategies for your business in 2024</p>
        <div class="card__footer">
            <a class="newbtn " href="">Read More</a>
          </div>
        
        
      </div>
     
    </div>
    <div class="card1">
      <div class="card__header">
        <img src="/static/img/blog/img05.webp" alt="card__image" class="card__image img1" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-blue">Blog</span>

        <p class="text-dark fs-4" >
            Successfully navigating the predictive analytics landscape</p>
        <div class="card__footer">
            <a class="newbtn " href="">Read More</a>
          </div>
        
        
      </div>
      
    </div>
    <div class="card1">
      <div class="card__header">
        <img src="/static/img/blog/img06.webp" alt="card__image" class="card__image img1" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-blue">Blog</span>

        <p class="text-dark fs-4" >
            The Generative AI Alchemy: Building intelligent enterprises of tomorrow</p>
        <div class="card__footer">
            <a class="newbtn " href="">Read More</a>
          </div>
        
        
      </div>
     
    </div>
  </div>
<!-- section end -->

<!-- section start -->
<div class="container c1 mt-5">
    <div class="card1">
      <div class="card__header">
        <img src="/static/img/blog/img07.webp" alt="card__image" class="card__image img1" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-blue">Blog</span>

        <p class="text-dark fs-4" >
            Why poor data quality can become a cost hazard</p>
        <div class="card__footer">
            <a class="newbtn " href="">Read More</a>
          </div>
        
        
      </div>
     
    </div>
    <div class="card1">
      <div class="card__header">
        <img src="/static/img/blog/img08.webp" alt="card__image" class="card__image img1" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-blue">Blog</span>

        <p class="text-dark fs-4" >
            Microsoft Fabric – Unify your entire data estate in one place</p>
        <div class="card__footer">
            <a class="newbtn " href="">Read More</a>
          </div>
        
        
      </div>
      
    </div>
    <div class="card1">
      <div class="card__header">
        <img src="/static/img/blog/img09.webp" alt="card__image" class="card__image img1" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-blue">Blog</span>

        <p class="text-dark fs-4" >Integrating ELK Stack with IBM App Connect: A Comprehensive Guide</p>
        <div class="card__footer">
            <a class="newbtn " href="">Read More</a>
          </div>
        
        
      </div>
     
    </div>
  </div>
<!-- section end -->

<!-- section start -->
<div class="container c1 mt-5">
    <div class="card1">
      <div class="card__header">
        <img src="/static/img/blog/img10.webp" alt="card__image" class="card__image img1" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-blue">Blog</span>

        <p class="text-dark fs-4" >
            The pith and marrow of automation testing</p>
        <div class="card__footer">
            <a class="newbtn " href="">Read More</a>
          </div>
        
        
      </div>
     
    </div>
    <div class="card1">
      <div class="card__header">
        <img src="/static/img/blog/img11.webp" alt="card__image" class="card__image img1" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-blue">Blog</span>

        <p class="text-dark fs-4" >
           5 ways data quality adds value to your retail business</p>
        <div class="card__footer">
            <a class="newbtn " href="">Read More</a>
          </div>
        
        
      </div>
      
    </div>
    <div class="card1">
      <div class="card__header">
        <img src="/static/img/blog/img12.webp" alt="card__image" class="card__image img1" width="600">
      </div>
      <div class="card__body">
        <span class="tag tag-blue">Blog</span>

        <p class="text-dark fs-4" >
            10 ways predictive analytics shapes decision making</p>
        <div class="card__footer">
            <a class="newbtn " href="">Read More</a>
          </div>
        
        
      </div>
     
    </div>
  </div>
<!-- section end -->
 <!-- who can Start -->
 <div class="container">
    <div class="row " style="margin-top: 100px;">
        <div class="col-md-12">
            <h1 class="text-center">How can we help you?</h1>
            <p class="text-center" style="font-size: 22px;">Are you ready to push boundaries and explore new
                frontiers of innovation?</p>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 ">
                        <a href="contact.html"><button class=" mt-3 mb-5 lwt ">LET'S WORK TOGETHER</button></a>
                    </div>
                    <div class="col-md-4"></div>
                </div>
        </div>
    </div>
</div>

<!-- who can End -->

{% include 'footer.html' %}